<body>


  <div class="row">
    <div id="banner-home" style= "background: linear-gradient(rgba(0, 9, 0, 0.15),rgba(0, 9, 0, 0.15)),url(<%= asset_path 'banner.jpg' %>); background-size:cover;" class="col-xs-12">
      <div class="row padded fadeInAndSlideDown">
        <div>
          <h1>Découvrez comment retrouver sérénité et confiance face aux défis de votre vie.</h1>
        </div>
      </div>
      <div class="row text-center" style="position: static; padding-top: 90px">
        <div class="col-xs-12">
          <div id="trigger1" style="text-align:center;">
            <%= link_to "#trigger2" do %>
              <i class="fa fa-angle-down pulse scroll-btn-white" style="font-size: 55px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <div class="row padded">
      <div class="col-xs-offset-2 col-xs-8 bordered-orange">
        <h2>Coaching particuliers :</h2>
      </div>
    </div>
    <div class="row">
      <%= link_to "/monoffre" do %>
        <div class="col-xs-12 col-sm-6 col-md-3 image-section-particuliers" style="background: url(<%= asset_path 'sérennité.png' %>)">
          <h3>Développer votre sérénité</h3>
          <p>Gérer son stress</p>
          <p>Prévenir les burn-outs</p>
          <p>Améliorer son équilibre de vie</p>
        </div>
      <% end %>
      <%= link_to "/monoffre" do %>
        <div class="col-xs-12 col-sm-6 col-md-3 image-section-particuliers" style="background: url(<%= asset_path 'efficacité.png' %>)">
          <h3>Booster votre efficacité pro</h3>
          <p>Améliorer sa communication, son management,sa performance et sa motivation</p>
        </div>
      <% end %>
      <%= link_to "/monoffre" do %>
        <div class="col-xs-12 col-sm-6 col-md-3 image-section-particuliers" style="background: url(<%= asset_path 'transition.png' %>)">
          <h3>Réussir votre transition de vie</h3>
          <p>Trouver sa voie,un nouveau projet professionnel</p>
          <p>Partir en expatriation</p>
        </div>
      <% end %>
      <%= link_to "/monoffre" do %>
        <div class="col-xs-12 col-sm-6 col-md-3 image-section-particuliers" style="background: url(<%= asset_path 'etudiants.png' %>)">
          <h3>Orientation jeunes</h3>
          <p>Choisir son orientation</p>
          <p>Développer sa confiance</p>
          <p>Réussir ses examens</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="row padded text-center">
      <div class="col-xs-offset-2 col-xs-8 bordered-orange">
        <h2>Coaching entreprises :</h2>
      </div>
    </div>
    <div style= "background: url(<%= asset_path 'pro.png' %>); background-size:cover;" class="col-xs-12">
      <div class="row padded banner-pro">
        <h3>Développez le bien-être de vos salariés</h3>
        <div class="row padded text-center">
          <div class="col-xs-4" style="color: white;">
            <h4>Gestion du stress</h4>
          </div>
          <div class="col-xs-4">
            <h4>Efficacité et motivation</h4>
          </div>
          <div class="col-xs-4">
            <h4>Expatriation et transition</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid text-center"id="trigger2">
    <div class="row padded">
      <div class="col-xs-offset-2 col-xs-8 bordered-orange">
        <h3>6 bonnes raisons de faire appel à Open Up coaching & consulting</h3>
      </div>
    </div>
    <div class="row padded">
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "trust.png", class: "icon" %>
        <p>Dans un climat de confiance mutuelle, profond respect et confidentialité, vous profitez d’un moment privilégié pour vous occuper de vous.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "conversation.png", class: "icon" %>
        <p>Notre partenariat, basé sur la bienveillance et la co-responsabilité, vous permet de découvrir des solutions adaptées à votre personnalité.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "flag.png", class: "icon" %>
        <p>Grâce à un questionnement personnel, vous prenez du recul sur votre situation, déterminez votre objectif, identifiez vos freins, vos talents et vos forces.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "light.png", class: "icon" %>
        <p>Avec des méthodes et exercices ludiques et variées, votre créativité va être stimulée pour construire et mettre en œuvre votre plan d’action et atteindre votre objectif.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "confidence.png", class: "icon" %>
        <p>Des bénéfices appréciés comme : une meilleure connaissance de vous et de vos besoins, une confiance et une énergie accrues, une plus grande assurance pour atteindre vos buts sur la durée.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "calendar.png", class: "icon" %>
        <p>Des séances de 1h à 1h30 espacées de 1 à 3 semaines, en face à face, par téléphone ou par skype, en français ou en anglais pour s’adapter à vos besoins avec flexibilité.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center">
    <div class="row bg-blue padded">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <h4>Envie d’en savoir plus sur mon offre ?</h4>
        </div>
        <div class="row">
          <button class="btn transparent white" data-toggle="modal" data-target="#contactform" id="contact-form-button2"><%= "Contactez-moi !"%></button>

      <!-- Modal -->
          <div class="modal fade" id="contactform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body" style= "background-color: #ECF0F1; border-radius: 3px;">
                  <body id="public">
                  <div id="container" class="ltr">
                    <%= render "shared/form" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- end Modal -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row padded text-center">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-0 col-sm-1">
          </div>
          <div class="col-xs-12 col-sm-10">
            <h4>Votre coach : Claire de Rengervé, coach certifiée ICF</h4>
            <%= image_tag "photclaire.png", class: "avatar" %>
            <p>Claire vous accompagne pour développer votre sérénité et confiance, atteindre vos objectifs et ouvrir de nouvelles perspectives dans votre vie.</p>
          </div>
          <div class="col-xs-0 col-sm-1">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 bordered-left-grey-big-devices">
        <h4>Ils en parlent</h4>
        <%= render "shared/owlcarousel" %>
      </div>
    </div>
  </div>

</body>