<body>


  <div class="row">
    <div id="banner-home" style= "background: linear-gradient(rgba(0, 9, 0, 0.35),rgba(0, 9, 0, 0.35)),url(<%= asset_path 'banner.png' %>); background-size:cover;" class="col-xs-12">
      <div class="row padded fadeInAndSlideDown">
        <div>
          <h1>Découvrez comment retrouver sérénité et confiance face aux défis de votre vie.</h1>
        </div>
      </div>
      <div class="row text-center" style="position: static; padding-top: 90px">
        <div class="col-xs-12">
          <div id="trigger1" style="text-align:center;">
            <%= link_to "#trigger2" do %>
              <i class="fa fa-angle-down pulse scroll-btn-white" style="font-size: 55px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center"id="trigger2">
    <div class="row padded">
      <div class="col-xs-offset-2 col-xs-8 bordered-orange">
        <h2>6 bonnes raisons de faire appel à Open Up coaching</h2>
      </div>
    </div>
    <div class="row padded">
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "trust.png", class: "icon" %>
        <p>Dans un climat de confiance mutuelle, profond respect et confidentialité, vous profitez d’un moment privilégié pour vous occuper de vous.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "conversation.png", class: "icon" %>
        <p>Notre partenariat, basé sur la bienveillance et la co-responsabilité, vous permet de découvrir des solutions adaptées à votre personnalité.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "flag.png", class: "icon" %>
        <p>Grâce à un questionnement personnel, vous prenez du recul sur votre situation, déterminez votre objectif, identifiez vos freins, vos talents et vos forces.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "light.png", class: "icon" %>
        <p>Avec des méthodes et exercices ludiques et variées, votre créativité va être stimulée pour construire et mettre en œuvre votre plan d’action et atteindre votre objectif.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "confidence.png", class: "icon" %>
        <p>Des bénéfices appréciés comme : une meilleure connaissance de vous et de vos besoins, une confiance et une énergie accrues, une plus grande assurance pour atteindre vos buts sur la durée.</p>
      </div>
      <div class="card-benefit col-xs-6 col-sm-4">
        <%= image_tag "calendar.png", class: "icon" %>
        <p>Des séances de 1h à 1h30 espacées de 1 à 3 semaines, en face à face, par téléphone ou par skype, en français ou en anglais pour s’adapter à vos besoins avec flexibilité.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <div class="row padded">
      <div class="col-xs-offset-2 col-xs-8 bordered-orange">
        <h2>Coaching particuliers</h2>
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-6 col-sm-3">
        <p>lalalalala</p>
        <%= image_tag "sérennité.png", class: "image-section-particuliers" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag "efficacité.png", class: "image-section-particuliers" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag "transition.png", class: "image-section-particuliers" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_tag "etudiants.png", class: "image-section-particuliers" %>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <div class="row bg-blue padded">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <h3>Une séance découverte de 45mn offerte</h3>
        </div>
        <div class="row">
          <h4>pour échanger sur votre situation et vos attentes, répondre à vos questions et vous permettre de prendre votre décision en toute sérénité.</h4>
        </div>
        <div class="row">
          <%= link_to t(".top_call_to_action", default: "s'inscrire maintenant"), "#", class: "btn transparent white"%>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row padded text-center">
      <div class="col-xs-6">
        <h4>Votre coach : Claire de Rengervé, coach certifiée ICF</h4>
        <%= image_tag "photclaire", class: "avatar" %>
        <p>Claire vous accompagne pour développer votre sérénité et confiance, atteindre vos objectifs et ouvrir de nouvelles perspectives dans votre vie.</p>
      </div>
      <div class="col-xs-6">
      <p>Petit texte descriptif</p>
      </div>
    </div>
  </div>

</body>